<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
	<link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script src="./js/gt.js" charset="utf-8"></script>
    <!-- <script type="text/javascript" src="./js/xadmin.js"></script> -->
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/vue-resource.min.js"></script>
    <script src="./js/gt.js" charset="utf-8"></script>
    <!-- <script type="text/javascript" src="./js/xadmin.js"></script> -->

</head>
<body class="login-bg">

    <div id='x-body' class="login">
        <div class="message">ZYZ-追银族 管理登录</div>
        <div id="darkbannerwrap"></div>
        <form method="post" class="layui-form" >
            <input v-model="usercode" placeholder="用户编号"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input v-model="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <div id="captcha">
                <div id="loading-tip">加载中，请稍后...</div>
            </div>
            <hr class="hr15" >
            <!-- <input value="登录" lay-submit  lay-filter="login" id="submit-tip" @click='login()'  style="width:100%;" type="submit"> -->
            <a class="layui-btn layui-btn-disabled"  id='dis' style="width:100%;margin-left: 0px;" >登录</a>
            <a class="layui-btn layui-btn-lg" @click='login()' id='dison' style="width:100%;display:none;margin-left: 0px;" >登录</a>
            <hr class="hr20" >
        </form>
    </div>

<script>
var apiUrl1 = 'http://api.laravel.com/zyzxiaocx/public/api/xiaocxAdmin/';
$(function  () {
    layui.use('form', function(){
        $ = layui.jquery;
        var form = layui.form;
         // 渲染验证图片的方法
        var handler = function (captchaObj) {
            // DOM 准备好后，隐藏 #loading-tip 元素
            // 仅作示例用，用您适合的方式隐藏即可
            captchaObj.onReady(function () {
                document.getElementById('loading-tip').style.display = 'none';
                $("#submit-tip").attr("disabled",true); // 
            });
            // 出错啦，可以提醒用户稍后进行重试
            captchaObj.onError(function () {
                // 调用该接口进行重置
                 layer.msg('页面出错，请刷新页面。。。', {icon: 5});
            });
            captchaObj.onSuccess(function () {
                var result = captchaObj.getValidate();
                // api2 查询验证是否成功
                $.ajax({
                    url: apiUrl1+'apiVerif2',
                    type: "post",
                    data: {
                        geetest_challenge: result.geetest_challenge,
                        geetest_validate: result.geetest_validate,
                        geetest_seccode: result.geetest_seccode,
                        // 其他服务端需要的数据，比如登录时的用户名和密码
                    },
                    dataType: "json",
                    success: function (data) {
                        // console.log( 1111,data )
                        if( data.code === 0 ){
                           //  $("#submit-tip").attr("disabled",false);
                            $("#dis").css("display",'none');
                            $("#dison").css("display",'');
                        }else{
                            layer.msg('验证失败', {icon: 5});
                            captchaObj.reset(); // 调用该接口进行重置
                        }
                    }
                })
            })

            // 将验证码加到id为captcha的元素里
            captchaObj.appendTo("#captcha");
         };
        // api1 获取流水标识并设置状态码 
        $.ajax({
            url: apiUrl1+'apiVerif1',
            type: "get",
            dataType: "json",
            success: function (data) {
                //请检测data的数据结构， 保证data.gt, data.challenge, data.success有值
                initGeetest({
                    gt: data.gt,
                    challenge: data.challenge,
                    product: "float", // 产品形式
                    offline: !data.success
                }, handler);
            }
        })
    });
})

var app = new Vue({
    el: '#x-body',
    data: {
        password: "",
        usercode: "",
    },
    methods:{
        // 点击登录
        login:function(){
            let _this = this;
            if( _this.usercode == "" ){
                layer.msg('请输入编号');
                return ;
            }
            if( _this.password == "" ){
                layer.msg('请输入密码');
                return ;
            }
            let lod = layer.load();
            let url = apiUrl1+'login';
            let data = {
                password: _this.password,
                usercode: _this.usercode,
            };
            _this.$http.post(url, data ,{emulateJSON:true}).then(function(response){
                let result = response.body;
                layer.close(lod);
                if( result.code !== 0 ){
                    layer.msg( result.msg );
                    return ;
                }
                sessionStorage.setItem('auth_token',result.data);
                layer.msg( result.msg );
                setTimeout(function(){
                    location.href='./index.html';
                },1000)
            });
        },
    },
    mounted(){
        let _this = this;
        // console.log(12313)
        // location.href = './login.html';
    },
}); 
</script>
</body>
</html>